<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista Osób</title>
</head>
<body>
    <p>Zalogowany jako: <strong>{{ user.username }}</strong> (Administrator)</p>
    
    <h2>Lista Osób</h2>
    <a href="{% url 'osoba-create' %}">+ Dodaj nową osobę</a>
    <hr>
    <table border="1">
        <tr>
            <th>Imię i Nazwisko</th>
            <th>Stanowisko</th>
            <th>Akcje</th>
        </tr>
        {% for o in osoby %}
        <tr>
            <td>{{ o.imie }} {{ o.nazwisko }}</td>
            <td>{{ o.stanowisko.nazwa }}</td>
            <td><a href="{% url 'osoba-detail-html' o.id %}">Pokaż</a></td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <a href="{% url 'welcome' %}">« Powrót do menu głównego</a>
</body>
</html>