<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista Gatunków</title>
</head>
<body>
    <p>Zalogowany jako: <strong>{{ user.username }}</strong> | 
       <a href="{% url 'film-list-html' %}">Filmy</a> | 
       <a href="{% url 'rezyser-list-html' %}">Reżyserzy</a> | 
       <a href="{% url 'gatunek-list-html' %}">Gatunki</a> 
       {% if user.is_superuser %}
            | <a href="{% url 'osoba-list-html' %}" style="color: red;">Osoby (Admin)</a> | 
            <a href="{% url 'stanowisko-list-html' %}" style="color: red;">Stanowiska (Admin)</a>
       {% endif %}
    </p>

    <h2>Lista Gatunków</h2>
    <a href="{% url 'gatunek-create-html' %}">+ Dodaj nowy gatunek</a>
    <table border="1" style="margin-top: 10px;">
        <tr>
            <th>Nazwa Gatunku</th>
            <th>Akcje</th>
        </tr>
        {% for g in gatunki %}
        <tr>
            <td>{{ g.nazwa }}</td>
            <td><a href="{% url 'gatunek-detail-html' g.id %}">Szczegóły</a></td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <a href="{% url 'welcome' %}">« Powrót do menu głównego</a>
</body>
</html>